In [541]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import datetime

In [542]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
36,tt2199571,50000000,71561644,Run All Night,Liam Neeson|Ed Harris|Joel Kinnaman|Boyd Holbr...,Jaume Collet-Serra,No sin goes unpunished,Brooklyn mobster and prolific hit man Jimmy Co...,114,Action|Crime|Drama|Mystery|Thriller,Vertigo Entertainment|Energy Entertainment|Rat...,3/11/2015,6.3,2015
1781,tt0841046,35000000,18317151,Walk Hard: The Dewey Cox Story,John C. Reilly|Jenna Fischer|Tim Meadows|Krist...,Jake Kasdan,Life made him tough. Love made him strong. Mus...,Singer Dewey Cox overcomes adversity to become...,96,Comedy|Music,Columbia Pictures Corporation|Apatow Productions,12/21/2007,6.5,2007
1749,tt0462244,6000000,18197398,Daddy Day Camp,Cuba Gooding Jr.|Tamala Jones|Paul Rae|Lochlyn...,Fred Savage,The summer is going to be in tents.,Seeking to offer his son the satisfying summer...,89,Comedy|Family,Revolution Studios|TriStar Pictures,8/8/2007,4.8,2007
1843,tt0186566,65000000,128884132,Space Cowboys,Clint Eastwood|Tommy Lee Jones|Donald Sutherla...,Clint Eastwood,Space will never be the same.,"Frank Corvin, â€˜Hawkâ€™ Hawkins, Jerry O'Neil...",130,Action|Adventure|Thriller,Village Roadshow Pictures|Malpaso Productions|...,7/31/2000,6.2,2000
519,tt0196229,28000000,60780981,Zoolander,Ben Stiller|Owen Wilson|Christine Taylor|Will ...,Ben Stiller,3% Body Fat. 1% Brain Activity.,"Clear the runway for Derek Zoolander, VH1's th...",89,Comedy,Paramount Pictures|Village Roadshow Pictures|N...,9/28/2001,6.1,2001

In [543]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [544]:
answers = {} # создадим словарь для ответов

data['profit'] = data['revenue'] - data['budget']

# data['dt'] = data['release_date'].apply(lambda d: datetime.datetime.strptime(d, '%m/%d/%Y').date()) 
data['month'] = data['release_date'].apply(lambda d: d.split('/')[0])

# конвертируем месяц во время года
def month_to_time_of_year(month):
    month = int(month)
    if month == 1 or month == 2 or month == 12:
        return 'Зима'
    elif month >= 3 and month <= 5:
        return 'Весна'
    elif month >= 6 and month <= 8:
        return 'Лето'
    else:
        return 'Осень'
    
data['time_of_year'] = data['month'].apply(month_to_time_of_year)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [545]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [546]:
data.sort_values(by='budget', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,time_of_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,5,Весна

ВАРИАНТ 2

In [547]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [548]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals'

In [549]:
data.sort_values(by='runtime', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,time_of_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2,Зима

# 3. Какой из фильмов самый короткий (в минутах)?

In [550]:
answers['3'] = '3. Winnie the Pooh'
data.sort_values(by='runtime', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,time_of_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,4,Весна

# 4. Какова средняя длительность фильмов?

In [551]:
answers['4'] = '2. 110'

data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [552]:
answers['5'] = '1. 107'

data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [553]:
data.sort_values(by='profit', ascending=False).head(3)

answers['6'] = '5. Avatar'

# 7. Какой фильм самый убыточный?

In [554]:
data.sort_values(by='profit', ascending=True).head(3)
answers['7'] = '5. The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [555]:
data[data['revenue'] > data['budget']].count()

answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [556]:
data[data['release_year'] == 2008].sort_values(by='revenue', ascending=False).head(1)
answers['9'] = '4. The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [557]:
data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)].sort_values(by='profit', ascending=True).head(1)
answers['10'] = '5. The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [594]:
# сформируем список всех уникальных жанров из таблицы
genres_list = {}
for genres in data.genres.unique():
    for g in genres.split('|'):
        if not g in genres_list:
            genres_list[g] = 0

# инкремент случаев встречи жанра в бд            
def count_genres(genres_string):
    for g in genres_string.split('|'):
        genres_list[g] += 1

answers['11'] = '3. Drama'

data.genres.apply(count_genres)
        
genres_list

# еще короче
# sum_genres=pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts(ascending=False)

0                Action
1             Adventure
2       Science Fiction
3              Thriller
4                Action
             ...
5102             Comedy
5103             Family
5104             Comedy
5105              Drama
5106           Thriller
Length: 5107, dtype: object

ВАРИАНТ 2

In [559]:
# через str contains https://lms.skillfactory.ru/courses/course-v1:Skillfactory+DST-WEEKLY-2.0+08JULY2020/courseware/c81b20a8a0e148c2b62028907dea82fb/64c5a233261947ccbfda0001a3979ab6/2?activate_block_id=block-v1%3ASkillfactory%2BDST-WEEKLY-2.0%2B08JULY2020%2Btype%40vertical%2Bblock%402bff9e7105034241a3cbf101c2946346

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [560]:
answers['12'] = '1. Drama'

genres_list = {}
for genres in data.genres.unique():
    for g in genres.split('|'):
        if not g in genres_list:
            genres_list[g] = 0

# инкремент случаев встречи жанра в бд            
def count_genres(genres_string):
    for g in genres_string.split('|'):
        genres_list[g] += 1

data[data['profit'] > 0].genres.apply(count_genres)

        
genres_list

{'Action': 444,
 'Adventure': 337,
 'Science Fiction': 195,
 'Thriller': 446,
 'Fantasy': 188,
 'Crime': 231,
 'Western': 12,
 'Drama': 560,
 'Family': 226,
 'Animation': 120,
 'Comedy': 551,
 'Mystery': 119,
 'Romance': 242,
 'War': 41,
 'History': 46,
 'Music': 47,
 'Horror': 150,
 'Documentary': 7,
 'Foreign': 0}

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [561]:
answers['13'] = '5. Peter Jackson'
data.groupby('director').sum().sort_values('revenue', ascending=False)

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685
Christopher Nolan,1005000000,4167548502,1135,61.1,16057,3162548502
David Yates,775000000,4154295625,567,29.6,8037,3379295625
Michael Bay,1126000000,3886938960,1209,50.0,16063,2760938960
J.J. Abrams,740000000,3579169916,633,35.1,10054,2839169916
...,...,...,...,...,...,...
David MichÃ´d,12250000,2295423,100,6.0,2014,-9954577
Steven Shainberg,16800000,2281089,122,6.3,2006,-14518911
Paul Schrader,7000000,2062066,104,5.9,2002,-4937934
Keanu Reeves,25000000,2054941,105,5.6,2013,-22945059
Simon Hunter,8000000,2033165,111,5.1,2008,-5966835

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [592]:
# data[data.genres.str.contains('Action')].groupby('director').count().sort_values('imdb_id', ascending=False)


answers['14'] = '3. Robert Rodriguez'

def counter(movie_bd, x):
    data_tmp = movie_bd[x].str.cat(sep = '|') # превращаем все в одну строку
    data_tmp = pd.Series(data_tmp.split('|')) # создаем список разделяя строку по '|'
    data_tmp = data_tmp.value_counts(ascending=False) # считаем количество элементов строке
    return data_tmp 

data_tmp = data[data.genres.str.contains("Action")]
sum_gen = counter(data_tmp,'director')
sum_gen[:5]

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [563]:
answers['15'] = '3. Chris Hemsworth'

# dd = data[data['release_year'] == 2012]

# s = dd['cast'].str.split('|').apply(pd.Series, 1).stack()
# s.index = s.index.droplevel(-1)
# s.name = 'actors'
# dd = dd.join(s)

# dd.groupby('actors').sum().sort_values(by='revenue', ascending=False)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [564]:
dd = data[data['budget'] > data['budget'].mean()]

s = dd['cast'].str.split('|').apply(pd.Series, 1).stack()
s.index = s.index.droplevel(-1)
s.name = 'actors'
dd = dd.join(s)
dd.groupby('actors').count().sort_values(by='imdb_id', ascending=False).head(5)

answers['16'] = '3. Matt Damon'

# data[
#     (data['budget'] > data['budget'].mean())
#     & data.cast.str.contains('Matt Damon')
# ].imdb_id.count()

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [565]:
dd = data

s = dd['cast'].str.split('|').apply(pd.Series, 1).stack()
s.index = s.index.droplevel(-1)
s.name = 'actors'
dd = dd.join(s)

s = dd['genres'].str.split('|').apply(pd.Series, 1).stack()
s.index = s.index.droplevel(-1)
s.name = 'genre'
dd = dd.join(s)

dd[dd['actors'] == 'Nicolas Cage'].groupby('genre').nunique()

# проще сделать было через data.cast.str.contains('Nicolas Cage'), но так веселее :)

answers['17'] = '2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [566]:
data[data.production_companies.str.contains('Paramount Pictures')].sort_values(by='profit', ascending=True).head(5)

answers['18'] = '1. K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [567]:
data.groupby('release_year').sum().sort_values(by='revenue', ascending=False).head(5)

answers['19'] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [568]:
data[data.production_companies.str.contains('Warner Bros')].groupby('release_year').sum().sort_values(by='revenue', ascending=False).head(5)

answers['20'] = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [569]:
answers['21'] = '4. Сентябрь'
data.groupby('month').nunique().sort_values(by='imdb_id', ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,time_of_year
month,,,,,,,,,,,,,,,,,
9,227,70,227,227,227,192,227,227,65,132,220,154,33,16,227,1,1
12,190,80,190,190,187,145,189,190,79,117,185,135,36,16,190,1,1
10,186,67,186,186,186,163,186,186,62,112,173,141,37,16,186,1,1
8,161,65,161,161,161,147,161,161,51,102,152,124,32,16,161,1,1
3,156,74,156,156,156,137,156,156,54,118,149,111,30,16,156,1,1
4,149,66,149,149,149,137,148,149,56,100,138,115,30,16,149,1,1
6,147,68,147,147,147,127,147,147,57,102,132,122,38,16,147,1,1
11,146,65,146,146,145,134,146,146,61,110,139,114,31,16,146,1,1
7,142,66,142,142,142,122,142,142,62,105,138,110,33,16,142,1,1
5,140,77,140,140,137,127,140,140,66,102,133,116,31,16,140,1,1
2,135,54,135,135,135,121,135,135,49,95,133,102,31,16,135,1,1
1,110,45,110,110,110,105,110,110,45,80,108,91,33,16,110,1,1

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [570]:
answers['22'] = '2. 450'
data.groupby('time_of_year').count()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
time_of_year,,,,,,,,,,,,,,,,
Весна,445,445,445,445,445,445,445,445,445,445,445,445,445,445,445,445
Зима,435,435,435,435,435,435,435,435,435,435,435,435,435,435,435,435
Лето,450,450,450,450,450,450,450,450,450,450,450,450,450,450,450,450
Осень,559,559,559,559,559,559,559,559,559,559,559,559,559,559,559,559

# 23. Для какого режиссера зима – самое продуктивное время года?

In [571]:
data[data.time_of_year == 'Зима'].groupby('director').count().sort_values(by='imdb_id', ascending=False)

answers['23'] = '5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [572]:
dd = data

s = dd['production_companies'].str.split('|').apply(pd.Series, 1).stack()
s.index = s.index.droplevel(-1)
s.name = 'companies'
dd = dd.join(s)

dd['original_title_len'] = dd['original_title'].apply(lambda t: len(t))
dd[['companies', 'original_title_len']].groupby('companies').mean().sort_values(by='original_title_len', ascending=False)

answers['24'] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [575]:
def words_count(text):
    return len(text.split())

dd['overview_len'] = dd['overview'].apply(words_count)
dd[['companies', 'overview_len']].groupby('companies').mean().sort_values(by='overview_len', ascending=False)

answers['25'] = '3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [576]:
# one_percent = data.vote_average.max() - (data.vote_average.max() / 100)

data[data.vote_average > np.percentile(data.vote_average, 99)].sort_values(by='vote_average', ascending=False)
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [577]:
from itertools import combinations

pairs = data.cast.apply(lambda x: list(tuple(sorted(comb)) for comb in combinations(x.split('|'), 2) )).tolist()
flattened = pd.DataFrame(pairs).stack()
flattened.value_counts().head(5)

answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

# Submission

In [583]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides',
 '2': '2. Gods and Generals',
 '3': '3. Winnie the Pooh',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar',
 '7': '5. The Lone Ranger',
 '8': '1. 1478',
 '9': '4. The Dark Knight',
 '10': '5. The Lone Ranger',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint',
 '14': '3. Robert Rodriguez'}

In [582]:
# и убедиться что ни чего не пропустил)
len(answers)

27